# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# directory
assets
CMakeFiles

# binaries
*.gb
*.exe
*.bin

# platform
*.sln

# ide specific
*.vcxproj
*.vcxproj.filters

# cmake
CMakeCache.txt
cmake_install.cmake
